* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #ddd;
}

body::-webkit-scrollbar-thumb {
  background-color: #353535;
  border-radius: 20px;
}